# Introduction to Python for Data Science Mini-Lab 2 - Basic Python
## Try these simple exercises!

In [1]:
from datascience import *

Here we'll build a simple table. This table keeps track of how many bananas, apples, and oranges Tien, Ahmed, and Lucy has. The name of this table is `fruits`. Don't worry too much about *how* we create this table, all that matters is how we manipulate the data *inside* the table.

In [2]:
fruits = Table().with_columns([
                            'name', ['Tien', 'Ahmed', 'Lucy'],
                            'bananas',  [9, 3, 3],
                            'apples', [1, 2, 10],
                            'oranges', [6, 1, 2]
                            ])
fruits

name  | bananas | apples | oranges
Tien  | 9       | 1      | 6
Ahmed | 3       | 2      | 1
Lucy  | 3       | 10     | 2

In the code block below, replace `...` with an expression that will get the column names of the table.

In [3]:
column_names = fruits.labels
column_names

('name', 'bananas', 'apples', 'oranges')

In the next code block, replace `...` with an expression that will get the number of bananas that Tien has.

In [6]:
tiens_bananas = fruits[1][0]
tiens_bananas

9

Here's a tricky one: replace `...` with an expression that will get how many fruits Tien, Ahmed, and Lucy has altogether! If one line of code isn't enough, go ahead and add more lines of code if necessary.

In [10]:
total_fruit = sum(fruits[1]) + sum(fruits[2]) + sum(fruits[3])
total_fruit

37