# Introduction to Python for Data Science Mini-Lab 1 - Basic Python
## Try these simple exercises!

In [1]:
from datascience import *
import numpy as np

If you remember from the last module's mini-lab, we created a table called `fruits` that contains the number of fruits that Tien, Ahmed, and Lucy has. We made that table for you, but this time we'll let you make it youself! We'll be using a simpler version of that table though that only contains the dragonfruit. Tien has 8 dragonfruits, Ahmed has 4 dragonfruits and Lucy has 5. Go ahead and recreate the `fruits` table below by replacing `...` with what we want.

In [2]:
fruits = Table().with_columns([
                                'name', ...
                                'dragonfruits', ...
                              ])

fruits

SyntaxError: invalid syntax (<ipython-input-2-b965714b6806>, line 3)

Now that you know the basic syntax of making new tables, we'll let you make one more but this time with a lot less hand-holding. Replace `...` below with an expression that creates a new table with the same names as above but this time with the column `durians`, which indicates how many durians each person has. Tien has 3, Ahmed has 8, and Lucy ha 1.

In [3]:
more_fruits = ...

more_fruits

Ellipsis

Oh no! Now we have two different tables that contains information that we want in one table! Replace `...` below with an expression that will `merge` the two tables for you.

In [ ]:
merged_tables = ...